<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update user</title>
</head>
<body>
<div th:insert="~{fragment/locale}"></div>
<form th:action="@{my-booking/users/{id}/update(id=${user.id})}" enctype="multipart/form-data" method="post"
      th:object="${user}">
    <input type="hidden" name="id" th:value="${user.id}">
    <label for="firstName"><span th:text="#{user.firstname}">First name:</span>
        <input id="firstName" type="text" name="firstName" th:value="*{firstName}">
    </label><br>
    <label for="lastName"><span th:text="#{user.lastname}">Last name:</span>
        <input id="lastName" type="text" name="lastName" th:value="*{lastName}">
    </label><br>
    <label for="phone"><span th:text="#{user.phone}">Phone:</span>
        <input id="phone" type="text" name="phone" th:value="*{phone}">
    </label><br>
    <label for="username"><span th:text="#{user.email}">Email:</span>
        <input id="username" type="email" name="username" th:value="*{getUsername}">
    </label><br>
    <label for="birthDate"><span th:text="#{user.birth_date}">Date of birth:</span>
        <input id="birthDate" type="date" name="birthDate" th:value="*{birthdate}">
    </label><br>
    <label for="rawPassword"><span th:text="#{user.password}">Password:</span>
        <input id="rawPassword" type="password" name="rawPassword" th:value="*{password}">
    </label><br>
    <div th:if="${user.image}">
        <img th:src="@{/api/v1/users/{userId}/avatar(userId=${user.id})}" alt="User image">
    </div><br>
    <label for="image"><span th:text="#{user.avatar}">Avatar:</span>
        <input id="image" type="file" name="image">
    </label><br>
    <input type="hidden" name="role" th:value="*{role}">
    <div th:if="${errors}">
        <p style="color: red" th:each="error : ${errors}" th:text="${error.defaultMessage}">Error message</p>
    </div>
    <button type="submit">Update</button>
</form>

<form th:action="@{/users/{userId}/delete(userId=${user.id})}" th:if="${user.role.name() == 'ADMIN'}" method="post"
      th:object="${user}">
    <button type="submit">Remove</button>
</form>

</body>
</html>