<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<div th:insert="~{fragment/header}"></div>
<form th:action="@{/users/{id}(id=${user.id})}" enctype="multipart/form-data" th:object="${user}">

    <h4 th:text="|#{user.firstname}: *{firstName}|">Firstname</h4>
    <h4 th:text="|#{user.lastname}: *{lastName}|">Lastname</h4>
    <h4 th:text="|#{user.phone}: *{phone}|">Phone</h4>
    <h4 th:text="|#{user.email}: *{getUsername}|">Email</h4>
    <h4 th:text="|#{user.birth_date}: *{birthdate}|">Birthdate</h4>
    <h4 th:text="|#{user.status}: *{status}|">Status</h4>
    <h4 th:text="|#{user.avatar}:|">Avatar</h4>

    <div th:if="${user.image}">
        <img th:src="@{/api/v1/users/{userId}/avatar(userId=${user.id})}" alt="User image">
    </div>
</form>
<div sec:authorize="hasAnyAuthority('USER', 'OWNER', 'ADMIN')">
    <a th:href="@{/my-booking/users/{id}/update(id=${user.id})}">
        <button type="submit" th:text="#{button.update}">Update user</button>
    </a>
</div>
<div sec:authorize="hasAnyAuthority('USER', 'OWNER', 'ADMIN')">
    <form th:action="@{/my-booking/users/{id}/delete(id=${user.id})}" method="post">
        <button type="submit" th:text="#{button.delete_user}">Delete user</button>
    </form>
</div>
<div sec:authorize="hasAuthority('OWNER')">
    <a th:href="@{/my-booking/hotels/{userId}/hotels-by-user(userId=${user.id})}">
        <button type="button" th:text="#{hotel.show_hotels_by_user}">User's hotels</button>
    </a>
</div>
<div sec:authorize="hasAuthority('OWNER')">
    <a th:href="@{/my-booking/hotels/{userId}/create(userId=${user.id})}">
        <button type="button" th:text="#{button.register_new_hotel}">Register hotel</button>
    </a>
</div>
<div sec:authorize="hasAuthority('ADMIN')">
    <span th:text="#{user.change_status}"></span>
    <form th:action="@{/my-booking/users/{id}/change-status(id=${user.id})}" method="post">
        <div th:each="status : ${statuses}">
            <label>
                <input th:id="${status}" type="radio" name="status" th:value="${status}">
            </label>
            <label th:for="${status}" th:text="${status}">Status</label>
        </div>
        <button type="submit" th:text="#{button.change_status}"></button>
    </form>
    <h4 th:text="|#{booking_request.count} ${totalRequests}|"></h4>
    <h4 th:text="|#{booking_request.status_new}: ${requests.get('NEW')}|"></h4>
    <h4 th:text="|#{booking_request.status_approved}: ${requests.get('APPROVED')}|"></h4>
    <h4 th:text="|#{booking_request.status_paid}: ${requests.get('PAID')}|"></h4>
</div>
<div sec:authorize="hasAuthority('OWNER')">
    <a th:href="@{/my-booking/hotels/{userId}/add-hotel(userId=${user.id})}">
        <button type="submit" th:text="#{button.add_hotel}">Add new hotel</button>
    </a>
</div>
<div sec:authorize="hasAuthority('USER')" th:if="${userRequests}">
    <h3 th:text="#{user.my_requests}"></h3>
    <h3 th:text="|#{booking_request.status_new}: ${userRequests.get('NEW')}|"></h3>
    <h3 th:text="|#{booking_request.status_approved}: ${userRequests.get('APPROVED')}|"></h3>
    <h3 th:text="|#{booking_request.status_paid}: ${userRequests.get('PAID')}|"></h3>
</div>
<br>
<div sec:authorize="hasAuthority('OWNER')" th:if="${ownerRequests}">
    <h3 th:text="#{user.my_requests}"></h3>
    <h3 th:text="|#{booking_request.status_new}: ${ownerRequests.get('NEW')}|"></h3>
    <h3 th:text="|#{booking_request.status_approved}: ${ownerRequests.get('APPROVED')}|"></h3>
    <h3 th:text="|#{booking_request.status_paid}: ${ownerRequests.get('PAID')}|"></h3>
</div>
</body>
</html>