<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<div th:insert="~{fragment/locale}"></div>
<form th:action="@{/users/{id}(id=${user.id})}" enctype="multipart/form-data" th:object="${user}">

    <h4 th:text="|#{user.firstname}: *{firstName}|">Firstname</h4>
    <h4 th:text="|#{user.lastname}: *{lastName}|">Lastname</h4>
    <h4 th:text="|#{user.phone}: *{phone}|">Phone</h4>
    <h4 th:text="|#{user.email}: *{getUsername}|">Email</h4>
    <h4 th:text="|#{user.birth_date}: *{birthdate}|">Birthdate</h4>
    <h4 th:text="|#{user.status}: *{status}|">Status</h4>
    <h4 th:text="|#{user.avatar}:|">Avatar</h4>

    <div th:if="${user.image}">
        <img th:src="@{/api/v1/users/{userId}/avatar(userId=${user.id})}" alt="User image">
    </div>
</form>

<a th:href="@{/my-booking/users/{id}/update(id=${user.id})}">
    <button type="submit" th:text="#{button.update}">Update user</button>
</a>
<form th:action="@{/my-booking/users/{id}/delete(id=${user.id})}" method="post">
    <button type="submit" th:text="#{button.delete_user}">Delete user</button>
</form>

<span th:text="#{user.change_status}"></span>
<form th:action="@{/my-booking/users/{id}/change-status(id=${user.id})}" method="post">
    <div th:each="status : ${statuses}">
        <label>
            <input th:id="${status}" type="radio" name="status" th:value="${status}">
        </label>
        <label th:for="${status}" th:text="${status}">Status</label>
    </div>
    <button type="submit" th:text="#{button.change_status}"></button>
</form>

</body>
</html>