<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Start page</title>
</head>
<body>
<div th:insert="~{fragment/header}"></div>
<form action="/my-booking">
    <a href="/my-booking/hotels">
        <button type="button" th:text="#{welcome.all_hotels}"></button>
    </a><br>
    <a href="/my-booking/rooms/search">
        <button type="button" th:text="#{welcome.go_to_search}"></button>
    </a><br>
    <h1 th:text="#{welcome.best_hotels}">Top five hotels on MyBooking</h1>
    <div th:each="hotel : ${topFiveHotels}">
        <h3>
            <a th:href="@{/my-booking/hotels/{id}(id=${hotel.id})}"
               th:text="|${hotel.name} - ${hotel.star()} -  ${hotel.avgRating()}|">Hotel info</a>
        </h3>
    </div>
</form>
</body>
</html>