<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add room</title>
</head>
<body>
<div th:insert="~{fragment/header}"></div>
<form th:action="@{/my-booking/rooms/{userId}/{hotelId}/create(userId=${hotel.ownerId}, hotelId=${hotel.id})}"
      enctype="multipart/form-data" method="post">

    <input type="hidden" th:value="${hotelId}">
    <label for="roomNo"><span th:text="#{room.number}">Room no:</span>
        <input type="number" name="roomNo" id="roomNo">
    </label><br>
    <label for="type"><span th:text="#{room.type}">Room type:</span>
        <select name="type" id="type">
            <option th:each="type : ${types}" th:value="${type}" th:text="${type}"></option>
        </select>
    </label><br>
    <label for="square"><span th:text="#{room.square}">Room square:</span>
        <input type="number" name="square" id="square">
    </label><br>
    <label for="adultBedCount"><span th:text="#{room.adult_beds}">Adult beds in room:</span>
        <input type="number" name="adultBedCount" id="adultBedCount">
    </label><br>
    <label for="childrenBedCount"><span th:text="#{room.children_beds}">Children beds in room:</span>
        <input type="number" name="childrenBedCount" id="childrenBedCount">
    </label><br>
    <label for="cost"><span th:text="#{room.cost}">Room cost:</span>
        <input type="number" name="cost" id="cost">
    </label><br>
    <label for="floor"><span th:text="#{room.floor}">Floor number:</span>
        <input type="number" name="floor" id="floor">
    </label><br>
    <input type="hidden" name="available">
    <label for="description"><span th:text="#{room.description}">Description:</span>
        <input type="text" name="description" id="description">
    </label><br>

    <!--    For RoomContentCreateDto-->
    <label for="content"><span th:text="#{room.content}">Room content:</span>
        <input type="file" name="content" id="content">
    </label><br>
    <label for="contentType"><span th:text="#{content.type}">Content type</span>
        <select name="contentType" id="contentType">
            <option th:each="type : ${contentTypes}" th:value="${type}" th:text="${type}"></option>
        </select>
    </label><br>
    <button type="submit" th:text="#{button.add}">Add room</button>
</form>
<div th:if="${errors}">
    <p style="color: red" th:each="error : ${errors}" th:text="${error.defaultMessage}">Error message</p>
</div>
</body>
</html>