<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Room</title>
</head>
<body>
<div th:insert="~{fragment/header}"></div>
<form th:action="@{my-booking/rooms/{id}(id=${room.id})}" enctype="multipart/form-data" th:object="${room}">

    <h4 th:text="|#{room.type}: *{type}|">Type</h4>
    <h4 th:text="|#{room.square}: *{square}|">Square</h4>
    <h4 th:text="|#{room.adult_beds}: *{adultBedCount}|">AdultBedCount</h4>
    <h4 th:text="|#{room.children_beds}: *{childrenBedCount}|">childrenBedCount</h4>
    <h4 th:text="|#{room.cost}: *{cost}|">Cost</h4>
    <h4 th:text="|#{room.floor}: *{floor}|">Floor</h4>
    <h4 th:text="|#{room.description}: *{description}|">Description</h4>

</form>

<div th:if="${room.content}">
    <div th:each="content : ${room.content}">
        <img th:src="@{/api/v1/rooms/{roomId}/content/{contentId}(roomId=${room.id}, contentId=${content.id})}"
             alt="Room images"><br>
        <div sec:authorize="hasAuthority('OWNER')">
            <form th:action="@{/api/v1/rooms/content/{id}/delete(id=${content.id})}" method="post">
                <button type="submit" th:text="#{button.delete_image}">Delete image</button>
            </form>
        </div>
    </div>
</div>

<div sec:authorize="hasAuthority('OWNER')">
    <form th:action="@{/api/v1/rooms/{roomId}/content/create(roomId=${room.id})}" enctype="multipart/form-data"
          method="post">
        <input type="file" name="content" id="content"><br>
        <button type="submit" th:text="#{button.add_image}">Add image</button>
        <br>
    </form>
</div>

<div th:if="errors">
    <p style="color: red" th:each="error : ${errors}" th:text="${error}">Error message</p>
</div>

<div sec:authorize="hasAuthority('OWNER')">
    <form th:action="@{/my-booking/rooms/{roomId}/update(roomId=${room.id})}">
        <button type="submit" th:text="#{button.update_room}">Update room</button>
        <br>
    </form>
</div>

<div sec:authorize="hasAnyAuthority('OWNER', 'ADMIN')">
    <form th:action="@{/my-booking/rooms/{id}/delete(id=${room.id})}" method="post">
        <button type="submit" th:text="#{button.delete_room}">Delete room</button>
    </form>
</div>
</body>
</html>