<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Rooms</title>
</head>
<body>
<div th:insert="~{fragment/header}"></div>
<form action="/my-booking/rooms/search">
  <label for="country"><span th:text="#{hotel.country}">Country</span>
    <input id="country" type="text" name="country" th:value="${filter.country()}">
  </label><br>
  <label for="locality"><span th:text="#{hotel.city}">City</span>
    <input id="locality" type="text" name="locality" th:value="${filter.locality()}">
  </label><br>
  <label for="star"><span th:text="#{hotel.star}">Stars:</span>
    <select name="star" id="star">
      <option th:each="star : ${stars}" th:value="${star}" th:text="${star}"
              th:checked="${star == filter.star}"></option>
    </select>
  </label><br>
  <label for="costFrom"><span th:text="#{room.cost.max}">Cost from</span>
    <input id="costFrom" type="range" name="costFrom" th:value="${filter.costFrom()}">
  </label><br><br>
  <label for="costTo"><span th:text="#{room.cost.min}">Cost to</span>
    <input id="costTo" type="range" name="costTo" th:value="${filter.costTo()}">
  </label><br>
  <label for="adultBedCount"><span th:text="#{room.adult_beds}">Adult beds</span>
    <input id="adultBedCount" type="number" name="adultBedCount" th:value="${filter.adultBedCount()}">
  </label><br>
  <label for="childrenBedCount"><span th:text="#{room.children_beds}">Children beds</span>
    <input id="childrenBedCount" type="number" name="childrenBedCount" th:value="${filter.childrenBedCount()}">
  </label><br>
  <label for="checkIn"><span th:text="#{room.checkIn}">Check in date</span>
    <input id="checkIn" type="date" name="checkIn" th:value="${filter.checkIn()}">
  </label><br>
  <label for="checkOut"><span th:text="#{room.checkOut}">Check out date</span>
    <input id="checkOut" type="date" name="checkOut" th:value="${filter.checkOut()}">
  </label><br>
  <input type="hidden" name="available" th:value="true">
  <div>
    <label for="page"><span th:text="#{filter.page}">Page</span>
      <input id="page" type="number" name="page" th:value="${rooms.metadata.page}">
    </label>
    <label for="size"><span th:text="#{filter.size}">Size</span>
      <input id="size" type="number" name="size" th:value="${rooms.metadata.size}">
    </label>
  </div>

  <p>
    <button type="submit" th:text="#{button.filter}">Filter</button>
  </p>
</form>
</body>
</html>